* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 1s;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
